<h2>Last name: <%= @user.last_name %></h2>
<p>First name: <%= @user.first_name %></p>
<p>Age: <%= @user.age %></p>
<br>
<br>
<%= link_to "Delete", user_path(@user), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<br>
<%= link_to "Back to Home Page", root_path %>
